 /* map teaser */
.leaflet-container {
    box-shadow: $map-box-shadow;
}

/*map akteurs seite*/
/*map event seite*/
.geo-map .field--name-field-le-event-geofield .leaflet-container,
.geo-map .field--name-field-geofield .leaflet-container {
    // height: 200px !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

// #map-wrapper {
//     margin-top: 20px;
//     // height: 600px !important;
//     box-shadow: 0px 0px 10px lightblue;
// }

.map-frontpage {
    box-shadow: $map-box-shadow;
    margin-top: 20px;
    margin-bottom: 30px;
}

// Add pseudo top label to icons on "Marktplatz"
a.content-type-le_remote_content_fwal,
a.content-type-le_remote_content_depot_social {
    padding-top: 22px;
    display: block;

    &:before {
        content: "";
        position: absolute;
        margin-top: -25px;
        background: transparent;
        color: #fff;
        padding: 2px 10px;
    }
}

a.content-type-le_remote_content_fwal:before {
    content: "Freiwilligenagentur Leipzig";
    background-color: $color-fwal;
}

a.content-type-le_remote_content_depot_social:before {
    content: "depot.social Leipzig";
    background-color: $color-depot-social;
}

// Leaflet markercluster plugin:
.marker-cluster-large {
    background-color: rgba(4, 102, 255, 0.5) !important;
}

.marker-cluster-large div {
    background-color: rgba(4, 102, 255, 0.8) !important;
    color: #fff !important;
}
 
.marker-cluster-small {
    background-color: rgba(77, 213, 255, 0.5) !important;
}

.marker-cluster-small div {
    background-color: rgba(77, 213, 255, 0.8) !important;
}
 
.marker-cluster-medium {
    background-color: rgba(0, 150, 255, 0.5) !important;
}

.marker-cluster-medium div {
    background-color: rgba(0, 150, 255, 0.8) !important;
    color: #fff !important;
}