# Ignore core when managing all of a project's dependencies with Composer
# including Drupal core.
web/core

# Ignore dependencies that are managed with Composer.
# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
vendor/

# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php
web/sites/*/services*.yml

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private
web/sites/default/files/*
!web/sites/default/files/translations
!web/sites/default/files/translations/drupal-8.9.0-beta2.de.po
web/modules/*/contrib

# Ignore SimpleTest multi-site environment.
web/sites/simpletest

# Ignore misc
web/.csslintrc
web/.eslintignore
web/.eslintrc.json
web/.ht.router.php
web/.htaccess
web/INSTALL.txt
web/README.txt
web/autoload.php
web/example.gitignore
web/index.php
web/modules/README.txt
web/modules/contrib/
web/robots.txt
web/sites/README.txt
web/sites/default/default.services.yml
web/sites/default/default.settings.php
web/sites/development.services.yml
web/sites/example.settings.local.php
web/sites/example.sites.php
web/update.php
web/web.config



