{% set image = content.field_image_legacy[0] | default(content.field_image[0]) %}
<div>
  {% if image %}
  <figure class="relative w-full lg:max-w-md mb-4">
    <div class="relative block w-full bg-white overflow-hidden">
      {{ include('@leipzigerEckenWebbuilder/partials/components/media_image.html.twig', {
        class: 'w-full h-auto aspect-square object-cover',
        image: image,
        width: 610,
        height: 610,
        image_style: 'webbuilder_teaser',
      }) }}
    </div>
  </figure>
  {% endif %}
  <div class="text-base text-black prose">
    {{ content.field_image_caption }}
  </div>
</div>
