  /*  ______filter boxen______  */
  
  .form-text.form-control {
      width: 80%;
  //    margin: 0px 10px 10px 0px;
  }
  
  .form-inline .select-wrapper {
      width: 80% !important;
  //    margin: 0px 10px 10px 0px;
  }
  
  .form-inline .form-group {
      margin-bottom: 10px;
      font-weight: 200;
  //    border-bottom: 1px solid #0064ff;
  }
  
  #edit-bezirk-id {
      width: 80%;
  }
  #edit-start {
  //    margin: 0px 10px 10px 0px;
  }
  #edit-end {
      vertical-align: top;
  }

  .filter-heading {
      font-size: 20pt;
  }

/* beschriftung der boxen drüber */

  .control-label {
      font-weight: 400;
  }
  
  .page-header {
      text-align: center;
      border-bottom-color: $hr-border;
      font-weight: 400;
  }