// Footer.
#footer {
    margin-top: 45px;
    padding: 35px 10px;
    // border-top: $hr-border-size;
    // border-top-color: $hr-border-grey;
    width: 90%;
    margin: 0 auto;
    background-color: rgba($hr-border-grey,0.1);
    border-radius: 15px 15px 0 0;
  
  .region-branding .logo {
    margin: 0 auto;
    text-align: center;
    width: 100%;

    img {
      margin: 0 auto;
    }
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 15px;
    }
  }

  p {
    font-family: $font-family-sans-serif;
  }
}