// Navbar

// Left "branding" block w/ logo
$branding-container-width: 90px;

@media (min-width: $grid-float-breakpoint) {
    .offset-branding-container {
        position: absolute;
        width: $branding-container-width;
        margin-left: -($branding-container-width + 20);

        img {
            width: 100%;
        }
    }
}

#navbar {
    background-color: $body-bg;
    border-color: $body-bg;
    border-bottom-color: $hr-border;
    border-radius: 0px;
    border-bottom: $hr-border-size;

}

.dropdown:hover {
    .dropdown-menu{
        display: block;
    }
}