// Navbar

// Left "branding" block w/ logo
$branding-container-width: 90px;

.offset-branding-container {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  width: $branding-container-width;
  margin-left: -($branding-container-width + 20);

  img {
      width: 100%;
  }

  $region-box-height: 25px;

  ul.global-regions-nav {
    list-style: none;
    padding-top: 30px;
  
    li {
      margin-top: 18px;
      transform: skew(0, -31deg);
      background-color: #86D0FF;
      font-weight: 700;
      height: $region-box-height;
      padding: 2px 6px;
      font-size: 0.9em;
      transition: all 0.2s;

      a {
        // Move clickable area at least a bit to left, in order to cover :before
        margin-left: -$region-box-height;
        padding-left: $region-box-height;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: $region-box-height - 3;
        height: $region-box-height - 2;
        margin-left: -($region-box-height + 3);
        margin-top: -(($region-box-height / 2) + 1);
        background-color: transparent;
        border: 2px solid $brand-primary;
        transform: skew(0, 50deg);
      }

      &.active,
      &:hover {
        background-color: darken(#86D0FF, 10);

        &:before {
          background-color: $brand-primary;
        }

        a {
          text-decoration: none;
        }
      }
  
      a {
        color: #fff;
      }
    }
  }
}

.offset-branding-container--mobile {
  display: none;
  padding-left: 10px;

  img {
     width: 25px;
  }
}

@media (min-width: $grid-float-breakpoint) {
    .offset-branding-container {
        display: flex;
    }
}

@media (max-width: $grid-float-breakpoint) {
    .offset-branding-container--mobile {
        display: block;
    }

    #navbar {
      padding-right: 0;
      padding-left: 0;

      .navbar-collapse {
        margin-top: 60px;
        padding-left: 35px; // Makes icons visible; temporary solution
        border: none;
      }
    }
}

#navbar {
    background-color: $body-bg;
    border-color: $body-bg;
    border-bottom-color: $hr-border;
    border-radius: 0px;
    border-bottom: $hr-border-size;
    margin-bottom: 0;

    .navbar-header {
    .navbar-toggle {
      margin-right: 0;
    }
  }

  .navbar-collapse {
    overflow-y: none;
  }
}

.dropdown {
  .dropdown-menu {
     opacity: 0;
     transition: opacity 0.1s;
  }

  &:hover {
    .dropdown-menu{
        display: block;
        opacity: 1;
    }
  }
}
