/*__ Tags by itself___*/
.field--name-field-le-event-kategorie-tags .field--item,
.field--name-field-le-akteur-kategorie-tags .field--item, 
.field--name-field-tags .field--item
{
  float: left;
  margin-right: 8px;
  border-radius: 99px;
  border: 2px solid rgba($hr-border-grey, 0.2);
  padding: 2px 12px;
  transition: all 0.2s;

  &:hover {
      border-color: $brand-primary;
      background-color: $brand-primary;

      a {
        color: #fff;
        text-decoration: none;
      }
  }
}

/*___"tag"-label___*/
.field--name-field-le-event-kategorie-tags,
.field--name-field-le-akteur-kategorie-tags, 
.field--name-field-tags 
{
  width: 100%;
  margin-bottom: 50px;
}

.tag-area {
  margin-bottom: 15px;
}
