/*__ Tags by itself___*/
.field--name-field-le-event-kategorie-tags .field--item,
.field--name-field-le-akteur-kategorie-tags .field--item, 
.field--name-field-tags .field--item
{
 float: left;
 margin-right: 10px;
 border-radius: 7px;
//  border-color: $hr-border-grey;
//  border-width: 1px solid;
 background-color: rgba($hr-border-grey,0.2);
 padding-left: 2px;
 padding-right: 2px;
}

/*___"tag"-label___*/
.field--name-field-le-event-kategorie-tags,
.field--name-field-le-akteur-kategorie-tags, 
.field--name-field-tags 
{
 width: 100%;
 margin-bottom: 50px;
}