/* views list pages */
.view {
    .form--inline {
        display: flex;
    }

    #edit-actions {
        display: flex;
        align-self: end;
    }
}
 
 /* DISTRICT FLAGS (Page header decoration) */
 .district-flags {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    margin-top: -2px;
    z-index: 99999;
  }

  .district-flags ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .district-flags ul li {
    width: 12%;
    background-color: #FFB44D;
    list-style: none;
    height: 40px;
    margin-top: -29px;
    transition: all 0.25s ease-in-out;
    text-align: center;
    color: #fff;
    padding-top: 0;
    cursor: pointer;
    font-size: 18px;
    word-break: break-all;
  }

  .district-flags ul li:nth-child(2n),
  .district-flags ul li:nth-child(5n)
   {
    background-color: #B96EF9;
    margin-top: -28px;
  }

  .district-flags ul li:nth-child(4n) {
    background-color: #6EF97F;
    margin-top: -32px;
  }

  .district-flags ul li:nth-child(3n) {
    background-color: #4DD5FF;
  }

  .district-flags ul li:hover {
    margin-top: 0;
  }

// GLOBALS

.hidden {
    display: none;
}

$badge-radius: 22px;

.badge {
    display: inline-block;
    width: $badge-radius;
    height: $badge-radius;
    line-height: $badge-radius - 1;
    border: 1px solid transparent;
    text-align: center;
    font-style: normal;
    background: #fff;
    border-radius: 99px;
    color: _palette(bg);
    font-size: 15px;
    margin-left: 5px;

    &.hollow {
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
    }
}

// Global profile icon
$akteur-icon-radius: 75px;

a[href^="/user/"] {
    border-bottom-width: 0;

    &:hover {
        border-bottom-width: 1px;
    }

    img {
        border-radius: 99px;
        width: $akteur-icon-radius;
        height: $akteur-icon-radius;
    }
}

body.page-node-type-le-akteur,
body.page-node-type-le-event,
.view-frontpage .content-container,
.event-container,
.akteur-container {

    .region-primary-tabs {
        text-align: center;
        padding-top: 25px;
        margin-bottom: -10px;
    }

    .field--name-field-le-akteur-kategorie-subtyp,
    .field--name-field-le-akteur-image,
    .field--name-field-le-akteur-description,
    .field--name-field-le-akteur-opening-times,
    .field--name-field-le-akteur-adresse,
    .field--name-field-geofield,
    .field--name-field-le-event-beschreibung,
    .field--name-field-le-event-kategorie-subtyp,
    .field--name-field-le-event-adresse,
    .field--name-field-le-event-occurrences,
    .field--name-field-le-event-geofield,
    .field--name-og-audience,
    .field--name-og-group {
        .field__label {
            display: none;
        }
    }

    .contact-method .field {
        display: flex;

        .field__label {
            padding-right: 15px;

            &:after {
                content: ':';
                position: absolute;
            }
        }
    }

    .field--name-field-le-akteur-kategorie-subtyp,
    .field--name-field-le-event-kategorie-subtyp {
        .field__items {
            display: flex;
            
            .field__item {
                padding-right: 10px;

                &:after {
                    content: ',';
                    position: absolute;
                }

                &:last-child:after {
                    display: none;
                }
            }
        }
    }

    /*.date-recur-occurrences,
    .date-recur-date {
        font-weight: bold;
    }*/

    #akteur-events { // View in akteur page with akteur events

        .views-element-container {
            .view-content {
                display: flex;

                .views-row {
                    width: 30%;
                    margin-right: 3.333%;

                    .field--name-field-le-event-beschreibung .field__label {
                        display: none;
                    }
                }
            }
        }
    }

    #group {
        background-color: #2e3450;

        h3 .icon {
            display: none;

            margin-right: 8px;
        
            &:before {
                font-size: 24px;
            }
        }

        .akteur-members {
            .button a {
                border-bottom: none;
            }

            .view-og-members-overview {
                // background: _palette(border-bg);
                border-left: solid 4px rgba(212, 212, 255, 0.1);
                padding: 0.25em 0.65em;
                display: flex;
                margin-bottom: 10px;

                .view-content {
                    display: flex;

                    .views-row {
                        padding-right: 12px;

                        .views-field-name {
                            display: none;
                        }

                        &:hover {
                            .views-field-name {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        $comment-space-left: 120px;

        .akteur-talks {
            margin-left: 8.33333%;

            .comment-form__title {
                margin-top: 35px;
            }

            &[data-comments-count="0"] {
                .comment-form__title {
                    margin-top: 0;
                }
            }

            .comment {
                display: flex;
                padding: 20px 0;

                /*&:last-child {
                    margin-bottom: 40px;
                }*/

                mark {
                    display: none; // @todo May break JS
                }

                &__meta {
                    min-width: $comment-space-left;
                }

                &__content {

                    h3,
                    .comment__submitted {
                        margin-bottom: 5px;
                    }

                    .comment__submitted {
                        opacity: 0.75;
                    }
                }

                &-reply {
                    padding-left: 0 !important;
                }
            }

            .indented {
                padding: 0 12px;
                margin-left: $comment-space-left !important;
                border: solid 4px rgba(212, 212, 255, 0.1);
                border-radius: 3px;
            }
        }
    }
}


// VIEWS
.view-content {
    display: flex;
    flex-flow: wrap;
}

/*.akteur-container,
.view-content .event-container,
.view-content .content-container {


    &:hover {
    }
}*/

.akteur-container,
.event-container,
.view-frontpage .content-container {
    position: relative;
    width: 31.5%;
    margin: 0 1.5% 1em 0;
    height: min-content; // @todo unsatisying...
    transition: box-shadow 0.25s;

    &:hover {
        box-shadow: 10px 10px 0 0 rgba(125, 149, 207, 1);

        #banner:after {
            opacity: 0.2;
        }

        .button span {
            width: 100%;
        }
    }

    #banner {
        padding-top: 0;
        top: 0;
        align-items: flex-end;

        h1 {
            font-size: 2.2em;
        }
    }

    .button {
        margin: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        box-shadow: none;
        transition: all 0.25s;

        span {
            width: 0;
            overflow: hidden;
            transition: width 0.25s;
            display: block;
        }
    }

    /*#one .inner {
        padding-top: 2em;
    }*/
}