{% set header_image = content.field_header_image[0]|default(header_image) %}
{% if header_image %}
<section class="bg-gray-50 mb-16 pt-24">
  <figure class="container mx-auto px-4 sm:px-6 lg:px-8">
    {{ include('@leipzigerEckenWebbuilder/partials/components/media_image.html.twig', {
      image: header_image,
      class:'w-full h-50-screen object-cover',
      image_style: 'webbuilder_header',
      width: 1480,
    }) }}

    {# Unsplash images always require attribution #}
    {% if header_image['#media'].field_attribution %}
    <figcaption class="mt-4 prose">
      {# TODO: find a way to correctly render attribution field #}
      {{ header_image['#media'].field_attribution[0].value|raw }}
    </figcaption>
    {% endif %}
  </figure>
</section>
{% else %}
<div class="mb-16 pt-24"></div>
{% endif %}
