{# regular articles #}
<ul class="space-y-12 sm:divide-y sm:divide-gray-200 sm:space-y-0 sm:-mt-8 lg:gap-x-8 lg:space-y-0">
{% for index,row in rows[0]['#rows'] %}
  <li class="sm:py-8">
    {{ include([
      '@leipzigerEckenWebbuilder/layouts/' ~ webbuilder_layout() ~ '/listings/items/teaser.html.twig',
      '@leipzigerEckenWebbuilder/layouts/default/listings/items/teaser.html.twig',
    ], {content: row['#node'], index: index}) }}
  </li>
{% endfor %}
</ul>
