// Global layout styles
// Attention: Before overriding bootstrap-related elements (e.g. .container / .btn), ensure that
// whatever you wanted to do could not be done by changing a variable btn), ensuure that
// whatever you wanted to do could have not be done by changing a variable in _default-variables.scss

*,h1,h2,h3,h4,h5,h5,div,p,button,ol,ul,li,img,table {
  // (Un-)set global styles
  padding: 0;
  margin: 0;
}

ol, ul {
    .popover &:last-child {
      margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

/* self defined classes */
 p, .field--name-field-le-akteur-description, .field--type-text-long {
  font-family: $font-family-serif;
}

.adress-akteur {
    margin-top: 20px;
    word-wrap:break-word;
}

.address {
  font-family: $font-family-sans-serif;
}

.grey-hr {
  border-color: $hr-border-grey;
  border: 2px solid;
}

.teaser-list{
    padding: 1.5em;
}

// .teaser-label {
//      font-size: 17px;
// }

.view-header {
  margin-bottom: 20px;;
}

hr.teaser-hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

.event-date {
    font-size: $font-size-base;
}

h1,h2,.control-label,.filter-heading  {
  color: $brand-primary;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
  font-size: $font-size-small;
  // color: $text-color;
}

.inactiveLink a {
  color: $text-color;
}

// .breadcrump {
//   background-color: none;
// }

/* gesammt breite des inhalts ohne navbar */ 
.main-container {
    width: 100%;
    padding-bottom: 50px;
}
/* gesammt breite der navbar */ 
.header-container {
    width: 100%;
    background-color: white;
}

/* teaser thumpnails */
.teaser-thump .field--item .img-responsive {
    border-radius: 50%;
    border-style: solid;
    border-color: $hr-border;
    border-width: 1px;
    overflow: hidden;
        height: 82px;
    width: 82px;
    object-fit: cover;
    margin: 5px;
}

.page-header-label {
    text-align: center;
}

@import "fonts";
// @todo Import layouts

// Import components
@import "components/filter"; 
@import "components/login"; 
@import "components/map"; 
@import "components/buttons";
@import "components/navbar";

// Import pages
@import "pages/front"; 
@import "pages/event-detail";