// Global layout styles
// Attention: Before overriding bootstrap-related elements (e.g. .container / .btn), ensure that
// whatever you wanted to do could not be done by changing a variable btn), ensuure that
// whatever you wanted to do could have not be done by changing a variable in _default-variables.scss

*,h1,h2,h3,h4,h5,h5,div,p,button,ol,ul,li,img,table {
  // (Un-)set global styles
  padding: 0;
  margin: 0;
}

ol, ul {
  padding-left: 1em;

  .popover &:last-child {
      margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block,
.control-group .help-inline,
.fieldset-wrapper .description {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;

  &:first-child {
    margin-top: 0;
  }
}

/* self defined classes */
p {
  font-family: $font-family-serif;
}
 .abstand {
   margin-top: 15px;
 }

.address {
  font-family: $font-family-sans-serif;
}
.beschreibung {
  text-align: justify;
  hyphens: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.grey-hr {
  border-color: $hr-border-grey;
  border-width: $hr-border-width;
  margin-top: 15px;

}

.node__sidebar .field,
.teaser-list 
{ 
  border-bottom: $hr-border-size; 
  border-color: $hr-border-grey;
  margin-top: 15px;
  padding-bottom: 15px;
}

.teaser-list {
  padding-bottom: 15px;
}

/*_____sidebar elemente ohne Trennline____*/
 .node__sidebar .field--name-field-adresse, 
 .node__sidebar .field--name-field-le-event-kategorie-gruppe, 
 .node__sidebar .field--name-field-le-akteur-kategorie-gruppe 
 { 
  border-bottom: 0px; 
  margin-bottom: 15px;
}

.js-quickedit-page-title {
  border-bottom: $hr-border-size;
  border-color: $hr-border-grey;
}

body:not(.path-frontpage):not(.path-taxonomy) .teaser-list {
  padding-bottom: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

// .teaser-label {
//      font-size: 17px;
// }

.view-header {
  margin-bottom: 20px;;
}

hr.teaser-hr {
  margin-bottom: 5px;
  margin-top: 5px;
  border-color: $hr-border-grey;
  border-width: $hr-border-width;
}

ul.date-recur-occurrences {
  padding-left: 18px;
}

.event-date {
    font-size: $font-size-base;
}

h1,
h2,
.control-label,
.filter-heading  {
  color: $brand-primary;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
  font-size: $font-size-small;
}

.inactiveLink a {
  color: $text-color;
}

/* gesammt breite des inhalts ohne navbar */
.main-container {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 50px;
}
/* gesammt breite der navbar */
.header-container {
    width: 100%;
    background-color: white;
}

/* teaser thumpnails */
.teaser-thump .field--item .img-responsive {
    border-radius: 50%;
    border-style: solid;
    border-color: $hr-border;
    border-width: 1px;
    overflow: hidden;
    height: 80px;
    width: 80px;
    object-fit: cover;
    margin-bottom: 5px;
}

.page-header-label {
    text-align: center;
}

.form-item.form-type-checkbox {
  // Quick + dirty approach to style a checkbox
  // without changing field-template
  input[type="checkbox"] {
    box-shadow: 0 0 0 2px $brand-primary;
    border-radius: 0;
    border: 0;
  }

  /*input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    border: 1px solid #4DD5FF;
    margin-top: 7px;
    margin-left: -40px;
  }

  input[type="checkbox"]:checked+label::before {
    box-shadow: inset 0px 0px 0px 3px #fff;
    background-color: #4DD5FF;
  }*/
}

@media (min-width: $grid-float-breakpoint) {
  .sticky-sidebar {
    position: sticky;
    top: 0;
    padding-top: 15px;
    height: 100vh;
  }
}

@import "fonts";
// @todo Import layouts

// Import components
@import "components/filter";
@import "components/login";
@import "components/map";
@import "components/buttons";
@import "components/navbar";
@import "components/categories-select";
@import "components/breadcrumb";
@import "components/footer";
@import "components/tags";

// Import pages
@import "pages/node";
@import "pages/front";
@import "pages/event-detail";
@import "pages/akteur-events";
@import "pages/akteur-form";
@import "pages/event-form";
@import "pages/akteur-list";
@import "pages/event-list";
@import "pages/profile";
