<article class="h-full">
  <a
    href="{{ website_url }}"
    target="_blank"
    class="w-full h-full flex items-center justify-center"
    title="{{ label[0]['#context']['value'] }}"
  >
  {% if image %}
    {{ include('@leipzigerEckenWebbuilder/partials/components/media_image.html.twig', {
      class: 'max-w-full h-auto object-contain',
      image: image,
      width: 610,
      image_style: 'webbuilder_teaser',
    }) }}
  {% endif %}
  </a>
</article>
