<div class="mb-4">
  {% if node.status[0].value == '0' %}
  <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800">
    {{ 'nicht veröffentlicht'|t }}
  </span>
  {% else %}
  <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
    {{ 'veröffentlicht'|t }}
  </span>
  {% endif %}
</div>
<iframe
  src="{{ drupal_url(url, { query: { webbuilder_preview: 1, t: date().timestamp }}) }}"
  class="w-full border-2 border-gray-700"
  style="height: 50vh;"
>
</iframe>
