<article class="flex">
  <div class="mr-4 flex-shrink-0">
    <figure class="h-16 w-16 border border-gray-300 bg-white text-gray-300">
      {{ content.field_main_image }}
    </figure>
  </div>
  <div>
    <h3 class="text-lg font-bold mt-0">
      {{ label }}
    </h3>
    <div class="mt-1">
      {{ content.field_description }}
    </div>
  </div>
</article>
