<article class="flex">
  <div class="mr-4 flex-shrink-0">
    <figure class="h-16 w-16 border border-gray-300 bg-white text-gray-300">
      {{ content.field_logo }}
    </figure>
  </div>
  <div>
    <h3 class="text-lg font-bold mt-0">
      {{ label }}
    </h3>
    <div class="mt-1">
      <a href="{{ content.field_website[0]['#context'].value }}" target="_blank">
        {{ content.field_website[0]['#context'].value }}
      </a>
    </div>
  </div>
</article>
