/* eczar-regular - latin-ext */
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-regular.svg#Eczar') format('svg'); /* Legacy iOS */
}

/* eczar-500 - latin-ext */
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-500.svg#Eczar') format('svg'); /* Legacy iOS */
}

/* eczar-600 - latin-ext */
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-600.svg#Eczar') format('svg'); /* Legacy iOS */
}

/* eczar-700 - latin-ext */
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-700.svg#Eczar') format('svg'); /* Legacy iOS */
}

/* eczar-800 - latin-ext */
@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/eczar-v9-latin-ext/eczar-v9-latin-ext-800.svg#Eczar') format('svg'); /* Legacy iOS */
}
