:root {
  --font-heading: serif;
  --font-body: sans;
  --font-heading-weight: 400;
  --font-body-weight: 400;
}

body, .font-body {
  font-family: var(--font-body);
  font-weight: var(--font-body-weight);
}

h1,h2,h3,h4,h5,h6, .font-heading {
  font-family: var(--font-heading);
  font-weight: var(--font-heading-weight);
}
