/* line 1, ../sass/geofield_map_general.scss */
.geofield-map-message {
  margin: 8px 0;
  color: darkgray;
}
/* line 4, ../sass/geofield_map_general.scss */
.geofield-map-message a {
  color: gray;
}

/* line 9, ../sass/geofield_map_general.scss */
.geofield-map-warning {
  color: orangered;
}
