<h1>Default</h1>
<figure class="w-100 h-64 bg-center bg-no-repeat bg-contain" style="background-image: var(--logo);"></figure>
{{ include('@leipzigerEckenWebbuilder/partials/_colors.html.twig') }}
{{ include('@leipzigerEckenWebbuilder/partials/_fonts.html.twig') }}
{{ content }}
