{% set destination = get_destination() %}

{% for row in rows[0]['#rows'] %}
<div class="py-4 flex space-x-10">
  <div>
    {{ row }}
  </div>
  <div>
    <a class="button button--default button--small mt-0" href="{{ drupal_url('/node/' ~ row['#node'].id() ~ '/edit', {query: {destination: destination }}) }}">
      {{ 'Unterstützer*in bearbeiten'|t }}
    </a>
  </div>
</div>
{% endfor %}

{{ pager }}
