{% block paragraph %}
<section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mb-16">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-3xl mx-auto">
    <div class="relative py-16 bg-white overflow-hidden">
      <div class="relative px-4 sm:px-6 lg:px-8">
        {% if content.field_pre_heading[0] or content.field_heading[0] %}
        <div class="text-lg max-w-prose mx-auto">
          <h1>
            {% if content.field_pre_heading[0] %}
            <span class="block text-sm text-center text-gray-600 font-semibold tracking-wider uppercase">{{ content.field_pre_heading }}</span>
            {% endif %}
            {% if content.field_heading[0] %}
            <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">{{ content.field_heading }}</span>
            {% endif %}
          </h1>
        </div>
        {% endif %}
        <div class="mt-6 prose prose-primary prose-lg text-gray-500 mx-auto">
          {{ content.field_body }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock paragraph %}
