{% set node_id = paragraph.parent_id[0].value %}
{% set akteur_id = drupal_field('og_audience', 'node', node_id)[0]['#plain_text'] %}
{% block paragraph %}
<section class="bg-white">
  <div class="mx-auto py-12 px-4 max-w-7xl sm:px-6 lg:px-8 lg:py-24">
    <div class="space-y-12 lg:grid lg:grid-cols-3 lg:gap-8 lg:space-y-0">
      <div class="space-y-5 sm:space-y-4">
        {% if content.field_heading[0] %}
        <h2 class="text-3xl font-extrabold tracking-tight sm:text-4xl">
          {{ content.field_heading }}
        </h2>
        {% endif %}
        {% if content.field_body[0] %}
        <div class="text-xl text-gray-500 prose">
          {{ content.field_body }}
        </div>
        {% endif %}
      </div>
      <div class="lg:col-span-2">
        {{ drupal_view('partners', 'webbuilder', akteur_id) }}
      </div>
    </div>
  </div>
</section>
{% endblock paragraph %}
