{% set cols = content.field_cols[0]['#markup'] %}
{% block paragraph %}
{% if content.field_images[0] %}
<section class="container mx-auto px-4 sm:px-6 lg:px-8">
  <div class="grid grid-cols-1 sm:grid-cols-2 {% if cols >= 3 %}md:grid-cols-3{% endif %} {% if cols >= 4 %}lg:grid-cols-4{% endif %} auto-rows-auto gap-4 items-stretch">
  {% for i in range(0, 100) %}
    {% set image = content.field_images[i] %}
    {% if image %}
    <a
      href="{{ include('@leipzigerEckenWebbuilder/partials/components/media_image_uri.html.twig', {
        image: image,
        image_style: 'webbuilder_gallery_full',
        width: 1920,
      }) | trim }}"
      class="block rounded overflow-hidden"
    >
      {{ include('@leipzigerEckenWebbuilder/partials/components/media_image.html.twig', {
        image: image,
        class:'h-full w-full object-cover',
        image_style: 'webbuilder_gallery_thumb',
        width: 610,
      }) }}
    </a>
    {% endif %}
  {% endfor %}
  </div>
</section>
{% endif %}
{% endblock paragraph %}
