/*_____login bereich_____*/
  
  #user-login-form{
      margin: auto;
      width: 50%;
  }
  #edit-name {
      width: 50%;
  }
  
  #edit-pass {
      width: 50%;
  }
  body {
      overflow-x: hidden;
  }