{% if rows -%}

{# Featured articles #}
{% for index,row in rows[0]['#rows'] %}
{% if row['#node'].sticky[0].value == '1' %}
  {{ include('@leipzigerEckenWebbuilder/views/_views_listing--featured-teaser.html.twig', {content: row['#node'], index: index}) }}
{% endif %}
{% endfor %}

<div class="mt-12 max-w-lg mx-auto grid gap-x-5 gap-y-10 lg:grid-cols-3 lg:max-w-none">
  {# regular articles #}
  {% for index,row in rows[0]['#rows'] %}
  {% if row['#node'].sticky[0].value == '0' %}
    {{ include('@leipzigerEckenWebbuilder/views/_views_listing--teaser-card.html.twig', {content: row['#node'], index: index}) }}
  {% endif %}
  {% endfor %}
</div>

{% elseif empty -%}
  {{ empty }}
{% endif %}

{{ pager }}
