<footer id="footer">
    {% if false %}
        {{ page.footer }}
    {% endif %}

    <div class="row footer">
        <div class="col-md-4 footer-logo">
              {# <div class="offset-branding-container--mobile"> #}
              {# <div class="footer-branding"> #}
                {# {{ page.branding }} #}
                <img src="themes/custom/leipzigerEcken/LE-Logo-mit-Schrift.png" alt="logo footer">
              {# </div> #}
        </div>

         <div class="col-md-4">
           {#
           This is a LIST - use UNORDERED LIST, aka UL / UL LI
           @todo Replace by block
           #}
            <a href="/impressum" title="Zum Impressum">
              <h5 class="front-heading">Impressum</h5>
            </a>
            <a href="/kontakt" title="Zum Kontakt">
              <h5 class="front-heading">Kontakt</h5>
            </a>
             <a href="/ueberuns" title="Über uns">
              <h5 class="front-heading">Über uns</h5>
            </a>
            <a href="/partner" title="partner">
              <h5 class="front-heading">Partner</h5>
            </a>
            <a href="/datenschutz" title="Zum Journal">
              <h5 class="front-heading">Datenschutz</h5>
            </a>
            <a href="https://leipziger-ecken.de">
                <h5 class="front-heading copyright">&copy; Leipziger Ecken</h5>
            </a>
        </div>
        <div class="col-md-4">
            <p class="front-heading">Gefördert mit den Öffentlichen Mittlen der <a href="https://www.leipzig.de/" target="_blank" title="zur Stadt Leipzig">Stadt Leipzig</a></p>
            <p>Die technische Umsetzung dieses Projektes wurde getragen durch den 
            <a href="https://helden-wider-willen.business.site/" target="_blank"itle="zum e.V.">Helden wider Willen e.V.</a> .</p>
        </div>
      </div>
</footer>