{% include '@leipzigerEcken/views-view--le-view-akteure.html.twig' %}


{# {% block main %}
<div role="main" class="main-container js-quickedit-main-content">

{# Header #}
        {# {% if page.header %}
          {% block header %}
              {{ page.header }}
          {% endblock %}
        {% endif %}
        

</div> #} 
