.field--name-field-le-akteur-hat-typ .fieldset__wrapper {
  border: 1px solid var(--colorGinBorder);
  border-radius: 6px;
  padding: 1.5rem 2.25rem;
}
.field--name-field-le-akteur-hat-typ .form-radios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.form-item--field-le-akteur-hat-typ {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  max-width: 20rem;
  clear: both;
}
.field--name-field-le-akteur-hat-typ .fieldset__description {
  margin-left: 0.5rem;
}
.form-item--field-le-akteur-hat-typ input {
  margin-right: 1rem;
  flex-grow: 1;
  flex-shrink: 0;
}
.form-item--field-le-akteur-hat-typ label {
  flex-shrink: 1;
  flex-grow: 0;
  border-radius: 6px;
  border: 2px solid transparent;
  padding: 1rem;
}
.form-item--field-le-akteur-hat-typ .views-field-name {
  display: block;
  font-weight: bold;
  display: inline-block;
}
.views-field-field-le-akteur-typ-icon {
  height: 100%;
  float: left;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.views-field-field-le-akteur-typ-icon img {
  width: 100px;
  height: auto;
}
.form-item--field-le-akteur-hat-typ:first-child {
  margin-left: 0;
}
.form-item--field-le-akteur-hat-typ:last-child {
  margin-right: 0;
}

.form-item--field-le-akteur-hat-typ input:checked + label {
  border-color: var(--colorGinPrimaryHover);
}
