#edit-field-fonts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.form-item--field-fonts {
  display: flex;
  justify-items: start;
  width: 22rem;
  padding: 0.5rem;
  margin: 0 1rem 1rem 0 !important;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form-item--field-fonts > input {
  left: 0 !important;
  top: 0.5rem !important;
  float: none !important;
  margin-left: 0 !important;
  transform: none !important;
  margin-right: 1rem;
}

.webbuilder-heading-font-preview {
  line-height: 1; 
  font-size: 2rem; 
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.webbuilder-body-font-preview {
  line-height: 1; 
  font-size: 1.25rem; 
  font-weight: 500;
}