<a
  href="{{ link['#url'] }}"
  class="{{ is_active ? 'text-white bg-primary-600 hover:bg-primary-700' : 'text-gray-700 hover:bg-gray-100 hover:text-gray-900' }} rounded block px-4 py-2 text-sm"
  role="menuitem"
>
  {{ link['#title'] }}
</a>
