<footer id="footer">
    {% if false %}
        {{ page.footer }}
    {% endif %}

    <div class="inner">
    {{ footer_corporate_text }}
        <ul class="icons">
            <!--
            <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
            -->
            <li><a href="/contact" class="icon solid alt fa-envelope"><span class="label">Kontakt</span></a></li>
            <li><a href="https://www.facebook.com/LeipzigerEcken/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="https://github.com/Leipziger-Ecken" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; <a href="https://leipziger-ecken.de">Leipziger Ecken</a></li>
            <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>
</footer>