<header id="header" class="alt">
    <a href="{{ front_page }}" class="logo">
    <strong>Leipziger</strong> <span>Ecken</span></a>
    <nav>
    <a href="#menu">Menü</a>
    </nav>
</header>

<nav id="menu">
    {{ page.primary_menu }}

    {{ page.header }}

    <ul class="actions stacked">
    <li><a href="/user/register" class="button fit">Registrierung</a></li>
    <li><a href="/user/login" class="button primary fit">Login</a></li>
    </ul>
</nav>