<aside class="district-flags" title="@todo: Use bezirke-API to display amount of people living in this Bezirk; make height of column depend on it. Link with Bezirk landingpage">
      <ul>
        <li>Schönefeld</li>
        <li>Plagwitz</li>
        <li>Neustadt-Neuschönefeld</li>
        <li>Reudnitz</li>
        <li>Thonberg</li>
        <li>Gohlis</li>
        <li>Eutritzsch</li>
        <li>Mitte (Ost)</li>
        <li>Paunsdorf</li>
      </ul>
</aside>

<header id="header" class="alt">
    <a href="{{ front_page }}" class="logo">
    <strong>Leipziger</strong> <span>Ecken</span></a>
    <nav>
    <a href="#menu">Menü</a>
    </nav>
</header>

<nav id="menu">
    {{ page.primary_menu }}

    {{ page.header }}

    <ul class="actions stacked">
    <li><a href="/user/register" class="button fit">Registrierung</a></li>
    <li><a href="/user/login" class="button primary fit">Login</a></li>
    </ul>
</nav>