<a
href="{{ website_url }}"
target="_blank"
title="{{ label[0]['#context'].value }}"
class="col-span-1 flex justify-center py-8 px-8 transition bg-gray-50 hover:bg-gray-100"
>
{{ include('@leipzigerEckenWebbuilder/partials/components/media_image.html.twig', {
  class: 'max-h-12',
  image: image,
  width: 610,
  image_style: 'webbuilder_teaser',
}) }}
</a>
