parameters:
  reportUnmatchedIgnoredErrors: false
  customRulesetUsed: true
  paths:
    - .
  excludes_analyse:
    - *Test.php
    - *TestBase.php
    - *ServiceProvider.php
    - vendor/
  fileExtensions:
    - module
    - theme
    - profile
    - install
includes:
  - vendor/mglaman/phpstan-drupal/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
