{% set image = content.field_image_legacy[0] | default(content.field_image[0]) %}
<div class="relative w-full h-[70vh] flex items-center px-8 md:px-16 lg:px-32 py-8">
  {% if image %}
  <figure class="absolute inset-0 overflow-hidden flex items-center justify-center">
    {{ include('@leipzigerEckenWebbuilder/partials/components/media_image.html.twig', {
      class: 'w-full object-cover',
      image: image,
      width: 610,
      image_style: 'webbuilder_header',
    }) }}
  </figure>
  {% endif %}
  <div class="relative">
    <h2 class="text-4xl font-semibold text-white text-shadow-outline">
      {{ content.field_heading }}
    </h2>
    {% if content.field_body %}
    <div class="prose-2xl text-white text-shadow-outline mt-6">
      {{ content.field_body }}
    </div>
    {% endif %}
    {% if content.field_primary_button[0] %}
    <div class="mt-6">
      {{ include('@leipzigerEckenWebbuilder/partials/components/button.html.twig', {
        href: content.field_primary_button[0]['#url'],
        label: content.field_primary_button[0]['#title'],
        type: 'primary_light',
        class: 'shadow-md',
      }) }}
    </div>
    {% endif %}
  </div>
</div>
