<h2 class="text-2xl mb-4 font-medium">Colors</h2>

<div class="grid grid-flow-col auto-cols-auto gap-2 mb-4">
  <div>
    <div class="bg-primary text-white p-2 mb-2">Primary</div>
    <div class="bg-primary-900 border-4 border-primary-50 text-primary-50 p-2 mb-2">Primary 900</div>
    <div class="bg-primary-800 border-4 border-primary-100 text-primary-100 p-2 mb-2">Primary 800</div>
    <div class="bg-primary-700 border-4 border-primary-200 text-primary-200 p-2 mb-2">Primary 700</div>
    <div class="bg-primary-600 border-4 border-primary-300 text-primary-300 p-2 mb-2">Primary 600</div>
    <div class="bg-primary-500 border-4 border-primary-400 text-primary-400 p-2 mb-2">Primary 500</div>
    <div class="bg-primary-400 border-4 border-primary-500 text-primary-500 p-2 mb-2">Primary 400</div>
    <div class="bg-primary-300 border-4 border-primary-600 text-primary-600 p-2 mb-2">Primary 300</div>
    <div class="bg-primary-200 border-4 border-primary-700 text-primary-700 p-2 mb-2">Primary 200</div>
    <div class="bg-primary-100 border-4 border-primary-800 text-primary-800 p-2 mb-2">Primary 100</div>
    <div class="bg-primary-50 border-4 border-primary-900 text-primary-900 p-2 mb-2">Primary 50</div>
  </div>
</div>
