<h2 class="text-2xl mb-4 font-medium">Fonts</h2>

<div class="text-gray-500 mb-4">You can edit the headings and paragraph below.</div>

<h2 class="text-2xl mb-4 font-medium" contenteditable>First Heading</h2>
<h3 class="text-xl mb-4 font-medium" contenteditable>Second Heading</h3>
<p contenteditable>
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>
